* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Vollkorn";
}

.header {
    text-align: center;
}

.header__title {
    font-size: 3.2rem;
    font-weight: 300;
    font-variant: small-caps;
    color: white;
    z-index: 9999;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    height: 72px;
    padding: 0 15px;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}

.navigation__logo {
    max-width: 50px;
    z-index: 9999;
}

.hamburger {
    position: relative;
    padding: 10px;
    right: -10px;
    border: none;
    background: none;
    z-index: 9999;
    outline: none;
}

.hamburger__bars {
    position: relative;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    transition: background-color 0.2s ease-out;
}

.hamburger__bars::before, .hamburger__bars::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 2px;
    left: 0;
    background-color: white;
    transition: transform 0.2s ease-out;
}

.hamburger__bars::before {
    top: -10px;
}

.hamburger__bars::after {
    top: 10px;
}

.hamburger--active > .hamburger__bars {
    background-color: transparent;

}
.hamburger--active > .hamburger__bars::before {
    transform: translateY(10px) rotate(135deg);
}

.hamburger--active > .hamburger__bars::after {
    transform: translateY(-10px) rotate(225deg);
}

.menu {
    position: fixed;
    display: flex;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    z-index: 9998;
}

.menu::before, .menu::after {
    position: fixed;
    content: "";
    background-color: black;
    z-index: -1;
    height: 100%;
    width: 51%;
    transition: transform .35s ease-out;
}

.menu::before {
    top: 0;
    left: -51%;
}

.menu::after {
    top: 0;
    right: -51%;
}

.menu__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.menu__list__item {
    color: white;
    margin: 15px 0;
    font-size: 1.8rem;
    /* font-weight: bold; */
    opacity: 0;
    transform: scale(0.9);
    transition: opacity .2s ease-out, transform .1s ease-out;
}

.menu--active {
    transform: translateY(100%);
}

.menu--active::before {
    transform: translateX(100%);
}

.menu--active::after {
    transform: translateX(-100%);
}

.menu--active .menu__list__item {
    opacity: 1;
    transform: scale(1);
    transition: opacity .2s .35s ease-out, transform .15s .35s ease-out;;
}

.beer-search {
    width: 100%;
    margin-top: 72px;
    position: relative;
}

.beer-search__picture {
    display: flex;
}
.beer-search__picture img {
    max-width: 100%;
    width: 100%;
}

.beer-search__input {
    position: absolute;
    width: 70%;
    height: 40px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color:rgba(255, 255, 255, 0.9);
    border: none;
    outline: none;
    box-shadow: 0 0 5px black;
    text-align: center;
    font-family: "Vollkorn";
    font-size: 1.4rem;
    transition: box-shadow .1s ease-out;
}

.beer-search__input:focus {
    box-shadow: 0 0 10px rgb(209, 140, 12);
}

.about-brewdog {
    flex-direction: column;
    margin: 40px 20px 20px;
    font-size: 1.6rem;
    text-align: justify;
}

.about-brewdog__header {
    background-color: black;
    text-align: center;
}

.about-brewdog__title {
    font-variant: small-caps;
    font-size: 2.4rem;
    color: white;
}

.about-brewdog p {
    color: black;
}

.beers {
    margin: 72px 15px 0;
    font-size: 1.6rem;
    text-align: justify;
}

.beer-styles {
    margin: 40px 20px 20px;
    /* padding: 20px */
}

.section__header {
    background-color: black;
    text-align: center;
}

.section__title{
    font-variant: small-caps;
    font-size: 2.4rem;
    color: white;
}

.beer-styles__container {
    width: 100%;
}

.beer-styles__scene {
    position: relative;
    margin: 0 auto;
    perspective: 1000px;
    max-width: 200px;
    max-height: 200px;
}

.beer-styles__carousel {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform .5s linear;
}

.beer-styles__carousel__cell {
    position: absolute;
    max-width: 180px;
    max-height: 180px;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/images/beer_style_300.png");
    background-size: cover;
    box-shadow: 0 0 10px .5px gray;
}

.beer-styles__name {
    font-size: 1.4rem;
    text-align: center;
    color: white;
    background-color: black;
    user-select: none;
}
