* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Vollkorn";
}

.header {
    text-align: center;
}

.header__title {
    font-size: 3.2rem;
    font-weight: 300;
    font-variant: small-caps;
    color: white;
}

.navigation {
    display: flex;
    height: 72px;
    padding: 0 15px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.navigation__logo {
    max-width: 50px;
}

.hamburger {
    position: relative;
    border: none;
    background: none;
}

.hamburger__bars {
    position: relative;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
}

.hamburger__bars::before, .hamburger__bars::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 4px;
    border-radius: 2px;
    left: 0;
    background-color: white;
}

.hamburger__bars::before {
    top: -10px;
}

.hamburger__bars::after {
    top: 10px;
}
