*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-family: "Vollkorn"; }
  body.scroll-lock {
    overflow: hidden; }

.header {
  text-align: center; }
  .header__title {
    font-size: 3.2rem;
    font-weight: 400;
    font-variant: small-caps;
    color: white;
    z-index: 9999;
    background-color: black; }
  .header__picture img {
    margin-top: 72px;
    width: 100%;
    height: auto;
    display: block; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  height: 72px;
  padding: 0 15px;
  width: 100%;
  background-color: black;
  justify-content: space-between;
  align-items: center;
  z-index: 9999; }
  .navigation__home-link {
    z-index: 9999; }
  .navigation__logo {
    max-width: 50px; }

.hamburger {
  position: relative;
  padding: 10px;
  right: -10px;
  border: none;
  background: none;
  z-index: 9999; }
  .hamburger__bars {
    position: relative;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: white;
    transition: transform 0.2s ease-out; }
    .hamburger__bars::before, .hamburger__bars::after {
      position: absolute;
      content: "";
      left: 0;
      width: 30px;
      height: 4px;
      border-radius: 2px;
      background-color: white;
      transition: transform 0.2s ease-out; }
    .hamburger__bars::before {
      top: -10px; }
    .hamburger__bars::after {
      top: 10px; }
  .hamburger--active .hamburger__bars {
    background-color: transparent; }
    .hamburger--active .hamburger__bars::before {
      transform: translateY(10px) rotate(135deg); }
    .hamburger--active .hamburger__bars::after {
      transform: translateY(-10px) rotate(225deg); }

.menu {
  position: fixed;
  display: flex;
  visibility: hidden;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  z-index: 9998;
  transition: visibility .35s; }
  .menu::before, .menu::after {
    position: absolute;
    content: "";
    background-color: black;
    z-index: -1;
    height: 100%;
    width: 51%;
    animation: slideOut 0.35s ease-out forwards; }
  .menu::before {
    top: 0;
    left: -51%;
    --transformValue: 100%; }
  .menu::after {
    top: 0;
    right: -51%;
    --transformValue: -100%; }
  .menu__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; }
  .menu__item {
    margin: 15px 0; }
  .menu__link {
    display: block;
    text-decoration: none;
    font-size: 1.8rem;
    color: white;
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.2s ease-out, transform 0.1s ease-out; }
    .menu__link:hover, .menu__link:focus {
      transform: scale(1.05);
      text-shadow: 1px 2px 3px #d18c0c; }
  .menu--active {
    visibility: visible; }
    .menu--active::before, .menu--active::after {
      animation: slideIn 0.35s ease-out forwards; }
    .menu--active .menu__link {
      opacity: 1;
      transform: scale(1); }
    .menu--active .menu__item:nth-child(1) .menu__link {
      transition: opacity 0.2s 0.35s ease-out, transform 0.15s 0.35s ease-out; }
    .menu--active .menu__item:nth-child(2) .menu__link {
      transition: opacity 0.2s 0.45s ease-out, transform 0.15s 0.45s ease-out; }
    .menu--active .menu__item:nth-child(3) .menu__link {
      transition: opacity 0.2s 0.55s ease-out, transform 0.15s 0.55s ease-out; }
    .menu--active .menu__item:nth-child(4) .menu__link {
      transition: opacity 0.2s 0.65s ease-out, transform 0.15s 0.65s ease-out; }
    .menu--active .beer-search__form {
      opacity: 1;
      transform: scaleX(1);
      transition: opacity 0.2s 0.75s ease-out, transform 0.25s 0.75s ease-out; }

@keyframes slideIn {
  to {
    transform: translateX(var(--transformValue)); } }

@keyframes slideOut {
  from {
    transform: translateX(var(--transformValue)); }
  to {
    transform: translateX(0); } }

.beer-search__form {
  display: grid;
  grid-template-columns: 1fr 30px;
  width: 70%;
  max-width: 300px;
  height: 40px;
  margin: 15px 0;
  opacity: 0;
  transform: scaleX(0.5);
  transition: opacity 0.2s ease-out, transform 0.1s ease-out; }
  .beer-search__form .form__input {
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: white;
    border: none;
    outline: none;
    box-shadow: 0 0 5px black;
    text-align: center;
    font-family: "Vollkorn";
    font-size: 1.4rem;
    transition: box-shadow 0.1s ease-out; }
    .beer-search__form .form__input:focus {
      box-shadow: 0 0 10px #d18c0c; }
    .beer-search__form .form__input::placeholder {
      color: black; }
  .beer-search__form .form__search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer; }
    .beer-search__form .form__search-button .search-button__icon {
      height: 18px;
      color: #575757; }
    .beer-search__form .form__search-button:hover .search-button__icon,
    .beer-search__form .form__search-button:focus .search-button__icon {
      color: black; }

.container {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  background-color: white;
  min-height: 100vh; }

.section {
  font-size: 1.6rem;
  text-align: justify;
  padding-top: 72px;
  margin-top: -72px;
  margin-bottom: 20px; }
  .section__header {
    background-color: black;
    text-align: center;
    margin: 20px auto; }
  .section__title {
    font-variant: small-caps;
    font-size: 2.4rem;
    margin: 0;
    color: white; }
  .section__paragraph {
    color: black; }
  .section__picture img {
    width: 100%; }

.beer-styles__container {
  width: 100%; }

.beer-styles__scene {
  position: relative;
  margin: 0 auto;
  perspective: 1000px;
  max-width: 200px;
  max-height: 200px;
  pointer-events: none; }

.beer-styles__carousel {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.5s linear; }
  .beer-styles__carousel .carousel__cell {
    position: absolute;
    max-width: 180px;
    max-height: 180px;
    top: 10px;
    left: 10px;
    background-image: url(images/beer_style_300.png);
    background-size: cover;
    box-shadow: 0 0 6px 0.5px gray; }
    .beer-styles__carousel .carousel__cell .cell__link {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      pointer-events: auto;
      text-align: center;
      text-decoration: none;
      font-size: 1.4rem;
      font-weight: 700;
      color: black;
      text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; }

.section__food-pairing {
  --distanceX: 0px;
  --defaultXPosition: 0px;
  --defaultRotation: 0deg; }

.food-pairing__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: 100px;
  margin: 20px auto; }

.food-pairing__logo-fork {
  position: absolute;
  width: 100px;
  height: auto;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(50px);
  --distanceX: -35vw;
  --defaultXPosition: 20px;
  --defaultRotation: 45deg;
  transform: rotate(var(--defaultRotation)) translatex(var(--defaultXPosition));
  transform-origin: 50% 50%;
  animation: moveInForkAndKnife 1s both; }
  .food-pairing__logo-fork--active {
    animation: moveOutForkAndKnife 1s both; }

.food-pairing__logo-knife {
  position: absolute;
  width: 100px;
  height: auto;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-50px);
  --distanceX: 35vw;
  --defaultXPosition: -20px;
  --defaultRotation: -45deg;
  transform: rotate(var(--defaultRotation)) translatex(var(--defaultXPosition));
  transform-origin: 50% 50%;
  animation: moveInForkAndKnife 1s both; }
  .food-pairing__logo-knife--active {
    animation: moveOutForkAndKnife 1s both; }

.food-pairing__button {
  padding: 0;
  width: 100px;
  height: 100px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none; }

.food-pairing__form {
  position: absolute;
  width: 70vw;
  height: 40px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 30px;
  transform: scaleX(0);
  transition: transform 0.6s ease; }
  .food-pairing__form--active {
    transition: transform 0.7s 0.3s ease;
    transform: scaleX(1); }
  .food-pairing__form .form__input {
    grid-column: 1 / -1;
    grid-row: 1;
    background-color: transparent;
    border-top: 1px black solid;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    border-bottom: 3px black solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
    border-right: none;
    text-align: center;
    font-family: "Vollkorn";
    font-size: 1.4rem;
    outline: none; }
  .food-pairing__form .form__search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2;
    grid-row: 1;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer; }
    .food-pairing__form .form__search-button .search-button__icon {
      height: 18px;
      color: #575757; }

@keyframes moveOutForkAndKnife {
  30% {
    transform: translateX(0px) rotate(0deg); }
  100% {
    transform: translateX(var(--distanceX)); } }

@keyframes moveInForkAndKnife {
  0% {
    transform: translateX(var(--distanceX)); }
  70% {
    transform: translateX(0px); }
  100% {
    transform: rotate(var(--defaultRotation)) translateX(var(--defaultXPosition)); } }

.section__beer-list {
  margin-top: 0; }

.beer-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px; }

.list-options {
  width: 100%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto; }
  .list-options__button {
    width: 0;
    height: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer; }

.button__previous-page {
  border-top: 17px solid transparent;
  border-right: 34px solid black;
  border-bottom: 17px solid transparent; }

.button__next-page {
  border-top: 17px solid transparent;
  border-left: 34px solid black;
  border-bottom: 17px solid transparent; }

.page-number {
  margin: 0; }
  .page-number__value {
    margin-left: 16px;
    font-size: 2rem; }

.beer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "name img" "abv img" "ibu img" ". img" "button img";
  row-gap: 5px;
  border: 2px black solid;
  border-radius: 10px;
  padding: 8px;
  transition: transform 0.2s ease-in-out; }
  .beer:hover {
    transform: scale(1.04); }
  .beer__name {
    grid-area: name;
    padding-right: 15px;
    overflow: hidden; }
    .beer__name span {
      background: black;
      color: white;
      -webkit-box-decoration-break: clone;
      -o-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 0.5px 15px; }
  .beer__abv {
    grid-area: abv; }
  .beer__ibu {
    grid-area: ibu; }
  .beer__button-modal {
    grid-area: button;
    background-color: white;
    color: black;
    display: table;
    width: fit-content;
    width: -moz-fit-content;
    padding: 0 15px;
    border: black 2px solid;
    border-radius: 7px;
    font-family: "Vollkorn";
    font-size: 1.6rem;
    cursor: pointer; }
  .beer__image {
    height: 160px;
    grid-area: img;
    align-self: center;
    justify-self: center; }

.beer-dialog__container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 9999; }
  .beer-dialog__container--active {
    display: flex; }

.beer-dialog {
  position: relative;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: ". exit" "name name" "abv img" "ibu img" "hops img" "malts img" "description description";
  gap: 10px;
  width: 90%;
  max-width: 666px;
  padding: 8px;
  background: #ffff;
  border: 2px solid black; }
  .beer-dialog::before {
    position: absolute;
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: -10px;
    left: -10px;
    background-color: #fff;
    border: 2px solid black;
    z-index: -1; }
  .beer-dialog__name {
    grid-area: name;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.7rem; }
  .beer-dialog__abv {
    grid-area: abv; }
  .beer-dialog__ibu {
    grid-area: ibu; }
  .beer-dialog__hops {
    grid-area: hops;
    text-align: initial; }
  .beer-dialog__malts {
    grid-area: malts;
    text-align: initial; }
  .beer-dialog__image {
    height: 180px;
    grid-area: img;
    align-self: center;
    justify-self: center; }
  .beer-dialog__description {
    padding-top: 10px;
    border-top: 1px solid black;
    grid-area: description;
    overflow-y: auto;
    max-height: 40vh; }
  .beer-dialog__close-button {
    width: 22px;
    height: 22px;
    padding: 11px;
    justify-self: right;
    border: none;
    background: none;
    outline: none;
    position: relative;
    cursor: pointer;
    grid-area: exit; }
    .beer-dialog__close-button::before {
      position: absolute;
      content: "";
      width: 22px;
      height: 3px;
      background-color: black;
      left: 0;
      transform: rotate(45deg); }
    .beer-dialog__close-button::after {
      position: absolute;
      content: "";
      width: 22px;
      height: 3px;
      background-color: black;
      left: 0;
      transform: rotate(-45deg); }

.footer {
  background-color: black;
  padding: 20px; }
  .footer__author {
    font-size: 1.5rem;
    color: white;
    text-align: center; }
  .footer__contact {
    display: flex;
    flex-direction: column;
    margin-top: 10px; }

.contact__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 10px; }

.contact__icon {
  width: 35px; }

.contact__text {
  font-size: 1.5rem;
  color: white;
  margin: 0 10px; }

@media (max-height: 450px) {
  .menu__list {
    flex-direction: row; }
  .menu__item {
    margin: 15px; }
  .beer-dialog {
    gap: 5px; }
    .beer-dialog__description {
      max-height: 25vh; }
    .beer-dialog__image {
      height: 100px; } }

@media (min-width: 1025px) {
  .navigation {
    display: grid;
    grid-template-columns: 1fr 50px 200px 1fr;
    grid-template-rows: 72px;
    grid-template-areas: "menu-list logo title searchbar"; }
    .navigation__home-link {
      grid-area: logo; }
  .header__title {
    grid-area: title; }
  .hamburger {
    display: none; }
  .menu {
    visibility: visible;
    position: static;
    flex-direction: row;
    width: 100%;
    z-index: 9999; }
    .menu__list {
      width: 100%;
      flex-direction: row;
      justify-content: start;
      grid-area: menu-list; }
    .menu__item {
      margin-right: 25px; }
    .menu__link {
      transform: scale(1);
      opacity: 1; }
  .beer-search__form {
    position: absolute;
    opacity: 1;
    transform: scaleX(1);
    grid-area: searchbar;
    right: 0;
    top: 0;
    width: 70%; }
  .section {
    margin-bottom: 100px; }
    .section__header {
      display: table;
      padding: 0 4rem; }
    .section__title {
      font-size: 5.2rem; }
    .section__paragraph {
      width: 70%;
      margin: 3.5rem auto;
      padding: 1.5rem;
      box-shadow: 2px 2px 5px 0.6px gray;
      background-color: white; }
    .section__picture {
      display: flex;
      justify-content: center; }
      .section__picture img {
        max-width: 640px; }
  .beer-dialog {
    grid-template-areas: "name exit" "abv img" "ibu img" "hops img" "malts img" ". img" "description description";
    width: 65%;
    max-width: 900px; }
    .beer-dialog__name {
      grid-column-end: exit;
      font-size: 2.1rem;
      text-align: center;
      display: table;
      padding: 0 30px;
      margin: 0 auto;
      align-self: start;
      margin-bottom: 20px; }
    .beer-dialog__image {
      height: 200px; }
  .food-pairing__container {
    margin: 30px auto; }
  .food-pairing__logo-fork, .food-pairing__logo-knife {
    width: 120px; }
  .food-pairing__logo-fork {
    --distanceX: -25vw; }
  .food-pairing__logo-knife {
    --distanceX: 25vw; }
  .food-pairing__form {
    width: 50vw; }
  .beer-styles__carousel .carousel__cell {
    box-shadow: 0 0 10px 0.5px gray; }
    .beer-styles__carousel .carousel__cell .cell__link {
      font-size: 1.6rem; }
  .footer__author {
    font-size: 1.6rem; }
  .footer__contact {
    flex-direction: row;
    justify-content: center; } }

@media (min-width: 1281px) {
  body {
    background-image: url(images/site_background.png); }
  .container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 80%; }
  .section__title {
    font-size: 6.2rem; }
  .section__paragraph {
    font-size: 1.8rem; }
  .food-pairing__logo-fork {
    --distanceX: -15vw; }
  .food-pairing__logo-knife {
    --distanceX: 15vw; }
  .food-pairing__form {
    width: 30vw; }
  .beer-dialog {
    font-size: 1.8rem; }
    .beer-dialog__name {
      font-size: 2.3rem; }
    .beer-dialog__image {
      height: 220px; }
  .footer {
    max-width: 80%;
    margin: 0 auto; } }

